<p id="notice"><%= notice %></p>

<% if current_user %>
    <div class="group pull-right">
      <% if current_user.is_member_of?(@group) %>
          <%= link_to("Quit Group", quit_group_path(@group), :method => :post, :class => "btn btn-mini") %>
      <% else %>
          <%= link_to("Join Group", join_group_path(@group), :method => :post, :class => "btn btn-mini") %> <% end %>
    </div> <% end %>


<p>
  <strong>Title:</strong>
  <%= @group.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
